body{
    font-family: Helvetica, sans-serif;
    margin: 5em 5em;
}

nav{
    position: relative; 
    left: 20em;  
    bottom: 5.5em;
}


li{
    display: inline-block;
    padding-left: 1em;
}

a{
    text-decoration: none;
    color:green;
}

h1{ 
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}


main{
    margin-top: -2em;
}

h1{
    font-size: 48px;
    padding-bottom: 30px;
}
