*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238,238,238);
    min-height: 100vh;
    padding: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* base font size: 16px */

.container{
    display:flex;
    width: 60em;
    gap: 1.5em;
}

img{
    border-radius: 1em;
    
}   

img:nth-child(1), img:nth-child(3), img:nth-child(4){
    width: 13%;
    flex: 0 0 auto;
    background-color: black;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3); 
    justify-content: center;
    position:relative;
    }

